@media only screen and (max-width: 600px){
    body{
        background-color: white;
    }

    header button{
        left: -20px;
    }

    #content{
        width: 70%;
    }

    #tool-bar .btn {
        width: 150px;
        height: 50px;
    }
}